.div-container-hidden {
  display: flex;
  justify-content: flex-end;
}

.printHiddenn {
  padding: 5px 10px;
  border: 1px solid rgba(63, 81, 181, 0.5);
  cursor: pointer;
  background-color: #B87A92;
  color: #fff;
  font-family: "system-ui";
  font-weight: 400;
  margin: 10px 0px -10px 0px;
}
.printHiddenn:hover {
  border: 1px solid black;
}

@media print {
  .printHiddenn {
    display: none;
  }
}
