@import "../styles/variables.scss";

.sidebar {
  background-color: #3f51b5;
  box-shadow: 0px 4px 8px rgba($dark-background, 0.5);
  display: flex;
  flex-direction: column;
  bottom: 0;
  border-radius: 5px 5px 0px 0px;
  margin-left: 26px;
  min-width: 17rem;
  align-items: center;

  &--nao {
    height: 250px;
    margin-top: 10px;
    margin-right: 30px;
  }

  &__separator {
    width: 90%;
    margin: $spacing 0;
    border: solid 1px;
    color: darken($white, 5%);
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    // overflow:auto
  }
  // color: #bbc3c8; font-family: 'Verdana', sans-serif; font-size: 16px; line-height: 26px; text-indent: 30px; margin: 0;
  &__text {
    font-family: Verdana;
    font-style: italic;
    font-size: 16px;
    font-weight: 500;
    margin: 20px 10px 20px 8px;
  }

  &__menuItem {
    display: flex;
    align-items: center;
    margin: 0px 10px 0px 0px;
  }

  &__img {
    margin-top: 3px;
  }

  &__imgLogo {
    height: 34px;
    margin-bottom: 2px;
  }

  &__halfTwo {
    display: flex;
    flex-direction: column;
    margin: 360px 0px 0px -50px;
  }
}

.rooms {
  width: 80%;
}
@media print {
  .sidebar {
    display: none;
  }
}
