.container {
  //   border: red solid 2px;
  display: flex;
}
.container2 {
  display: flex;
  width: 150px;
}
.username {
  font-size: 20px;
  margin: 7px;
  font-weight: 500;
}

.btn {
  margin: 5px;
  padding: 0px 7px;
  color: #dcdcdc;
  border: 1px solid rgba(63, 81, 181, 0.5);
  cursor: pointer;
  background-color: #001029;
  width: 100%;
  height: 37px;
  border-radius: 5px;
}

.btn-a {
  text-decoration: none;
  color: #dcdcdc;
  margin: 7px;
}
