@import "../styles/variables.scss";

* {
  margin: 0px;
  padding: 0px;
}

.box2 {
  width: 300px;
  margin: 30px 0px 0px -76px;
  border: 2px solid #9EA7BD;
  border-radius: 8px;
  padding: 20px 14px 5px 10px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  font-family: arial;
  position: relative;
  height:142px;
  white-space: normal;
  word-wrap: break-word;
}
/* speech bubble 11 */

.sb11:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #9EA7BD;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -23px;
  bottom:2px
}

.sb11:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -17px;
  bottom:2px;
  text-align: center;
}



 


