@import "../../styles/variables.scss";
@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
@import "../../styles/animations.scss";

.survey {
  &__card {
    min-height: 420px;
    margin-left: 3rem;
    border-radius: 0.5rem;
    display:flex;
    flex-direction: column;
    padding: 1.2rem 1.5rem;
    color: $white;

    &-nao_ask {
      display:flex;
      width:100%;
      justify-content: center;
      margin-bottom: 30px;
    }

    &-img {
      height: 210px;
      width: 176px;
      margin-left:88px
    }

    &-form {
      display:flex;
      justify-content: center;
      margin-bottom: 22px;
    }

    &-error {
      margin-top: 90px;
      display:flex;
      justify-content: center;
      padding-top: 30px;
    }

    &--create {
      background-color: $dark-background;
      display: flex;
    }
    
  }

  &:last-of-type &__add,
  &:last-of-type &__card {
    display: none;
  }

  &__actions {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    &-button {
      @include button-inactive--opacity;
      margin-right: 0.5rem;
      display: none;

      &:hover {
        @include button-active--opacity;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }

    &-button {
     height: 30px;
     width: px;
    }
  }

  &__create-input {
    background-color: $dark-background;
    border: 0;
    border-bottom: 1px solid;
    color: $white;
    font-size: 1.5rem;
    height: 2rem;
    width: 5rem;
    margin-bottom: 0.25rem;

    &:focus {
      outline: none;
    }
  }

  &__create-input-category {
    background-color: $dark-background;
    border: 0;
    border-bottom: 1px solid;
    color: $white;
    font-size: 1rem;
    height: 2rem;
    width: 1rem;
    margin-bottom: 0.25rem;
  }

  &__create-flex {
    display: flex
  }

  &__create-flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__status-image {
    margin-right: 2rem;
    animation: rotate 1s linear infinite;
  }

  &__error {
    &-message {
      display: flex;
      flex-direction: row;
      padding-top: 30px;

    }

    &-close {
      @include button-inactive--opacity;

      align-self: flex-start;
      &:hover {
        @include button-active--opacity;
      }
    }
  }

  &__validation {
    color: $danger-color;
    margin-bottom: 1rem;
  }
}


